.container {
  max-width: 1500px;
  width: calc(100% - 100px);
  margin: $margin-center;
}

.container-main {
  max-width: 992px;
  width: calc(100% - 256px);
  margin: $margin-center;

  @media only screen and (max-width: $breakpoint-md) {
    width: calc(100% - 80px);
  }
}
